backoff==2.2.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.12
click==7.1.2
cryptography==40.0.2
Flask==1.1.2
Flask-Cors==3.0.10
firebase-admin==6.1.0
google-cloud-storage
gunicorn==20.0.4
idna==3.4
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mysql-connector-python==8.0.32
opencage==2.2.0
protobuf==3.20.3
pycparser==2.21
PyJWT==2.6.0
requests==2.26.0
six==1.16.0
urllib3==1.26.15
Werkzeug==1.0.1
