.header {
  float: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}

.header a {
  margin-left: 40px;
  margin-right: 40px;
  font-size: x-large;
}

.header .logo {
  margin-right: auto;
  font-size: xx-large;
  color: black;
}

.top {
  background-color: white;
  padding: 1%
}

.top a {
  color: black;
  font-weight: bold;
  font-size: larger;
  text-decoration: none;
  font-family: 'Abel', sans-serif;
}

.top a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-style: solid;
}


.mid {
  margin-left: 10%;
  margin-right: 10%;
}

.WelcomeContainer {
  display: flex;
  align-items: center;
}

.WelcomeMessage {
  margin-bottom: 5px;

}

.SignOutLink {
  font-size: 14px;
}