
.SearchBar {
    border-width: 0;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    }

.SearchBar form {
    margin: 0;
    }

.SearchInput {
    border: 1px;
    border-width: 1px;
    border-color: rgb(180, 180, 180);
    border-style: solid;
    border-radius: 0px;
    min-height: 3em;
    height: 3em;
    max-height: 3em;
    margin: 0px;
    }

.SearchButton{
    border: 1px;
    border-width: 1px;
    border-color: rgb(180, 180, 180);
    border-style: solid;
    border-radius: 0px;
    min-height: 3em;
    height: 3em;
    max-height: 3em;
    margin: 0px;
    }  