.Card {

    background-size: cover;
    border-radius: 20px;
    max-width: 90%;
    float: center;
    text-align: center;
    padding: 5px;
    height: 400px;
    width: 250px;
    position: relative;
}

.Card h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    min-width: 100%;
    text-align: center;
    margin: 10px;
    color: white;

}

.CardGrid {
    float: center;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

.CardTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ViewMore {
    background-color: #A3E4D7;
    border-color: #A3E4D7;
    position: absolute;
    bottom: 30px;
    left: 30px;
    padding: 10px 20px;
    font-size: 14px;
    box-shadow: none;
    border-radius: 10px;
}

.DeleteButton {
    position: absolute;
    background-color: #F1948A;
    border-color: #F1948A;
    bottom: 30px;
    right: 30px;
    padding: 10px 20px;
    font-size: 14px;
    box-shadow: none;
    border-radius: 10px;
}

.LargeIconButton {
    width: 48px;
    height: 48px;
}